.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    /* Change the background color as needed */
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.whatsapp-icon a {
    text-decoration: none;
    color: white;
}